In [22]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

### Impactful batters in last 3 seasons of ipl

In [23]:
t20_2023 = pd.read_csv('t20_2023.csv')
t20_2024 = pd.read_csv('t20_2024.csv')
t20_2022 = pd.read_csv('t20_2022.csv')

C:\Users\range\AppData\Local\Temp\ipykernel_6964\665017442.py:1: DtypeWarning: Columns (52,53) have mixed types. Specify dtype option on import or set low_memory=False.
  t20_2023 = pd.read_csv('t20_2023.csv')

In [24]:
t20_merged = pd.concat([t20_2022, t20_2023, t20_2024],ignore_index = True)

In [25]:
t20_merged.head()

,Unnamed: 0,p_match,inns,bat,p_bat,team_bat,bowl,p_bowl,team_bowl,ball,ball_id,outcome,score,out,dismissal,p_out,over,noball,wide,byes,legbyes,cur_bat_runs,cur_bat_bf,cur_bowl_ovr,cur_bowl_wkts,cur_bowl_runs,inns_runs,inns_wkts,inns_balls,inns_runs_rem,inns_balls_rem,inns_rr,inns_rrr,target,max_balls,date,year,ground,country,winner,toss,competition,bat_hand,bowl_style,bowl_kind,batruns,ballfaced,bowlruns,bat_out,wagonX,wagonY,wagonZone,line,length,shot,control,predscore,wprob,phase,bwkt,pball,pruns,bnd,pbr,pscore,prr,pwkt,prrr,batset
0,3896,1323145,1,Alzarri Joseph,670031,St Lucia Kings,Seekkuge Prasanna,268740,Trinbago Knight Riders,2,17.02,run,1,False,NaN,670031,18,0,0,0,0,1,1,2.2,0,12,105,6,104,NaN,16,6.05,NaN,NaN,120,2022-09-01,2022,"Warner Park, Basseterre, St Kitts",West Indies,Trinbago Knight Riders,Trinbago Knight Riders,CPL,RHB,LB,spin bowler,1,1,1,True,126,79,8,NaN,NaN,STEERED,1.0,130,15.49,4,False,0,0,False,17,104,1.009709,6,NaN,0
1,3897,1323145,1,Alzarri Joseph,670031,St Lucia Kings,Seekkuge Prasanna,268740,Trinbago Knight Riders,5,17.05,wide,1,False,NaN,670031,18,0,1,0,0,1,1,2.4,0,18,111,6,106,NaN,14,6.28,NaN,NaN,120,2022-09-01,2022,"Warner Park, Basseterre, St Kitts",West Indies,Trinbago Knight Riders,Trinbago Knight Riders,CPL,RHB,LB,spin bowler,0,0,1,True,0,0,0,ON_THE_STUMPS,SHORT_OF_A_GOOD_LENGTH,FLICK,0.0,133,17.41,4,False,1,1,False,14,110,1.037736,6,NaN,0
2,3898,1323145,1,Alzarri Joseph,670031,St Lucia Kings,Seekkuge Prasanna,268740,Trinbago Knight Riders,6,17.06,run,1,False,NaN,670031,18,0,0,0,0,2,2,2.5,0,19,112,6,107,NaN,13,6.28,NaN,NaN,120,2022-09-01,2022,"Warner Park, Basseterre, St Kitts",West Indies,Trinbago Knight Riders,Trinbago Knight Riders,CPL,RHB,LB,spin bowler,1,1,1,True,249,321,4,ON_THE_STUMPS,GOOD_LENGTH,ON_DRIVE,1.0,133,17.41,4,False,1,1,False,14,111,1.047170,6,NaN,0
3,3972,1323159,2,Kyle Mayers,348056,Barbados Royals,Seekkuge Prasanna,268740,Trinbago Knight Riders,1,9.01,four,4,False,NaN,348056,10,0,0,0,0,63,28,0.1,0,4,88,1,55,45.0,65,9.60,4.15,133.0,120,2022-09-13,2022,"Queen's Park Oval, Port of Spain, Trinidad",West Indies,Barbados Royals,Barbados Royals,CPL,LHB,LB,spin bowler,4,1,4,True,346,272,3,ON_THE_STUMPS,SHORT_OF_A_GOOD_LENGTH,COVER_DRIVE,1.0,187,99.10,2,False,27,59,True,66,84,1.555556,1,0.742424,1
4,3973,1323159,2,Kyle Mayers,348056,Barbados Royals,Seekkuge Prasanna,268740,Trinbago Knight Riders,2,9.02,run,1,False,NaN,348056,10,0,0,0,0,64,29,0.2,0,5,89,1,56,44.0,64,9.53,4.12,133.0,120,2022-09-13,2022,"Queen's Park Oval, Port of Spain, Trinidad",West Indies,Barbados Royals,Barbados Royals,CPL,LHB,LB,spin bowler,1,1,1,True,297,278,3,ON_THE_STUMPS,SHORT_OF_A_GOOD_LENGTH,ON_DRIVE,1.0,187,99.15,2,False,28,63,False,65,88,1.600000,1,0.692308,1

In [26]:
ipl_data = t20_merged[t20_merged['competition'].str.lower() == 'ipl']

In [27]:
ipl_data.head()

,Unnamed: 0,p_match,inns,bat,p_bat,team_bat,bowl,p_bowl,team_bowl,ball,ball_id,outcome,score,out,dismissal,p_out,over,noball,wide,byes,legbyes,cur_bat_runs,cur_bat_bf,cur_bowl_ovr,cur_bowl_wkts,cur_bowl_runs,inns_runs,inns_wkts,inns_balls,inns_runs_rem,inns_balls_rem,inns_rr,inns_rrr,target,max_balls,date,year,ground,country,winner,toss,competition,bat_hand,bowl_style,bowl_kind,batruns,ballfaced,bowlruns,bat_out,wagonX,wagonY,wagonZone,line,length,shot,control,predscore,wprob,phase,bwkt,pball,pruns,bnd,pbr,pscore,prr,pwkt,prrr,batset
39,9445,1304060,1,Kieron Pollard,230559,Mumbai Indians,Pat Cummins,489889,Kolkata Knight Riders,2,19.02,run,2,False,NaN,230559,20,0,0,0,0,2,1,3.2,2,28,140,4,116,NaN,4,7.24,NaN,NaN,120,2022-04-06,2022,"Maharashtra Cricket Association Stadium, Pune",India,Kolkata Knight Riders,Kolkata Knight Riders,IPL,RHB,RF,pace bowler,2,1,2,True,139,303,5,WIDE_OUTSIDE_OFFSTUMP,YORKER,PUSH,0.0,147,27.97,4,False,0,0,False,5,138,1.200000,4,NaN,0
40,9446,1304060,1,Kieron Pollard,230559,Mumbai Indians,Pat Cummins,489889,Kolkata Knight Riders,3,19.03,six,6,False,NaN,230559,20,0,0,0,0,8,2,3.3,2,34,146,4,117,NaN,3,7.48,NaN,NaN,120,2022-04-06,2022,"Maharashtra Cricket Association Stadium, Pune",India,Kolkata Knight Riders,Kolkata Knight Riders,IPL,RHB,RF,pace bowler,6,1,6,True,202,357,4,OUTSIDE_OFFSTUMP,FULL,ON_DRIVE,1.0,152,32.68,4,False,1,2,True,4,140,1.206897,4,NaN,0
41,9447,1304060,1,Kieron Pollard,230559,Mumbai Indians,Pat Cummins,489889,Kolkata Knight Riders,4,19.04,wide,1,False,NaN,230559,20,0,1,0,0,8,2,3.3,2,35,147,4,117,NaN,3,7.53,NaN,NaN,120,2022-04-06,2022,"Maharashtra Cricket Association Stadium, Pune",India,Kolkata Knight Riders,Kolkata Knight Riders,IPL,RHB,RF,pace bowler,0,0,1,True,0,0,0,WIDE_OUTSIDE_OFFSTUMP,FULL,LEFT_ALONE,1.0,153,33.67,4,False,2,8,False,3,146,1.247863,4,NaN,0
42,9448,1304060,1,Kieron Pollard,230559,Mumbai Indians,Pat Cummins,489889,Kolkata Knight Riders,5,19.05,run,2,False,NaN,230559,20,0,0,0,0,10,3,3.4,2,37,149,4,118,NaN,2,7.57,NaN,NaN,120,2022-04-06,2022,"Maharashtra Cricket Association Stadium, Pune",India,Kolkata Knight Riders,Kolkata Knight Riders,IPL,RHB,RF,pace bowler,2,1,2,True,331,147,2,ON_THE_STUMPS,GOOD_LENGTH,SLOG_SHOT,0.0,153,33.67,4,False,2,8,False,3,147,1.256410,4,NaN,0
43,9449,1304060,1,Kieron Pollard,230559,Mumbai Indians,Pat Cummins,489889,Kolkata Knight Riders,6,19.06,six,6,False,NaN,230559,20,0,0,0,0,16,4,3.5,2,43,155,4,119,NaN,1,7.81,NaN,NaN,120,2022-04-06,2022,"Maharashtra Cricket Association Stadium, Pune",India,Kolkata Knight Riders,Kolkata Knight Riders,IPL,RHB,RF,pace bowler,6,1,6,True,137,8,8,OUTSIDE_OFFSTUMP,SHORT,PULL,0.0,157,37.79,4,False,3,10,True,2,149,1.262712,4,NaN,0

In [28]:
pd.set_option('display.max_columns', None)
print(ipl_data.iloc[0].to_frame().T)

   Unnamed: 0  p_match inns             bat   p_bat        team_bat  \
39       9445  1304060    1  Kieron Pollard  230559  Mumbai Indians

           bowl  p_bowl              team_bowl ball ball_id outcome score  \
39  Pat Cummins  489889  Kolkata Knight Riders    2   19.02     run     2

      out dismissal   p_out over noball wide byes legbyes cur_bat_runs  \
39  False       NaN  230559   20      0    0    0       0            2

   cur_bat_bf cur_bowl_ovr cur_bowl_wkts cur_bowl_runs inns_runs inns_wkts  \
39          1          3.2             2            28       140         4

   inns_balls inns_runs_rem inns_balls_rem inns_rr inns_rrr target max_balls  \
39        116           NaN              4    7.24      NaN    NaN       120

          date  year                                         ground country  \
39  2022-04-06  2022  Maharashtra Cricket Association Stadium, Pune   India

                   winner                   toss competition bat_hand  \
39  Kolkata Knight Riders  Kolkata Knight Riders         IPL      RHB

   bowl_style    bowl_kind batruns ballfaced bowlruns bat_out wagonX wagonY  \
39         RF  pace bowler       2         1        2    True    139    303

   wagonZone                   line  length  shot control predscore  wprob  \
39         5  WIDE_OUTSIDE_OFFSTUMP  YORKER  PUSH     0.0       147  27.97

   phase   bwkt pball pruns    bnd pbr pscore  prr pwkt prrr batset
39     4  False     0     0  False   5    138  1.2    4  NaN      0

In [29]:
data = ipl_data[['bat', 'batruns','ballfaced','dismissal', 'p_match']]
data['batruns'] = pd.to_numeric(data['batruns'], errors='coerce')

bat_stats = data.groupby('bat').agg(
    matches_played=('p_match', 'nunique'),
    total_runs=('batruns', 'sum'),
    balls_faced=('ballfaced', 'sum'),
    dismissals=('dismissal', 'count'),
).reset_index()

bat_stats['Average'] = round((bat_stats['total_runs']/bat_stats['dismissals']),2)
bat_stats['Strike Rate'] = round((bat_stats['total_runs'] / bat_stats['balls_faced']) * 100, 2)

eligible_batters = bat_stats[
    (bat_stats['matches_played'] > 25) & (bat_stats['total_runs'] > 500)
]['bat']

filtered_data = data[data['bat'].isin(eligible_batters)]

results = []

for batter, group in filtered_data.groupby('bat'):
    group = group.reset_index(drop=True)
    consecutive_streaks = 0
    streak_count = 0
    
    for idx, row in group.iterrows():
        if row['batruns'] in [0, 1]:
            streak_count += 1
        else:
            if streak_count > 0:
                consecutive_streaks += streak_count
                streak_count = 0
    if streak_count > 0:  # Add remaining streaks
        consecutive_streaks += streak_count

    total_balls = len(group)
    avg_dot_single_streak_percent = (consecutive_streaks / total_balls) * 100 if total_balls > 0 else 0

    boundary_indices = group[group['batruns'] >= 4].index
    gaps = boundary_indices.to_series().diff().dropna()
    avg_gap = gaps.mean() if not gaps.empty else 0

    results.append({
        'bat': batter,
        'Mean Consecutive Dots/Singles_percent': avg_dot_single_streak_percent,
        'avg_gap_between_boundaries': avg_gap
    })

summary_df = pd.DataFrame(results)
summary_df = summary_df.merge(bat_stats, on='bat')

# Scaling avg_dot_single_streak_percent to 1-10 range
min_streak = summary_df['Mean Consecutive Dots/Singles_percent'].min()
max_streak = summary_df['Mean Consecutive Dots/Singles_percent'].max()

summary_df['Mean Consecutive Dots/Singles_scaled'] = (
    1 + ((summary_df['Mean Consecutive Dots/Singles_percent'] - min_streak) / (max_streak - min_streak)) * 9
)

summary_df[['bat', 'Mean Consecutive Dots/Singles_scaled', 'avg_gap_between_boundaries', 'total_runs', 'Average', 'Strike Rate']].sort_values(by='total_runs', ascending=False)

C:\Users\range\AppData\Local\Temp\ipykernel_6964\924726784.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['batruns'] = pd.to_numeric(data['batruns'], errors='coerce')

,bat,Mean Consecutive Dots/Singles_scaled,avg_gap_between_boundaries,total_runs,Average,Strike Rate
41,Shubman Gill,4.736231,5.393939,1799,42.83,147.70
47,Virat Kohli,7.089042,5.736364,1721,41.98,139.92
12,Faf du Plessis,5.550063,5.044444,1636,37.18,146.99
18,Jos Buttler,5.184122,4.952586,1614,40.35,144.62
35,Ruturaj Gaikwad,6.709391,5.611111,1541,40.55,139.58
19,KL Rahul,8.781548,6.529412,1410,42.73,130.68
36,Sanju Samson,6.432935,4.810526,1351,34.64,151.12
49,Yashasvi Jaiswal,3.331152,4.000000,1318,36.61,154.15
43,Suryakumar Yadav,1.000000,3.989189,1253,39.16,167.51
16,Ishan Kishan,7.281744,5.016854,1192,28.38,135.45
24,Nicholas Pooran,5.178256,4.490566,1163,43.07,166.38
44,Tilak Varma,7.265543,5.612245,1156,41.29,146.33
0,Abhishek Sharma,3.612404,4.298246,1136,27.71,159.10
8,David Warner,6.383309,4.773256,1116,37.20,139.15
39,Shivam Dube,5.903062,4.885714,1103,35.58,159.16
14,Hardik Pandya,7.693785,6.131783,1049,31.79,135.35
34,Rohit Sharma,7.540086,4.775000,1017,23.65,135.60
37,Shikhar Dhawan,7.883101,5.560284,985,36.48,130.12
46,Venkatesh Iyer,6.273644,5.169231,956,28.12,140.80
22,Marcus Stoinis,7.014174,4.992308,952,28.85,148.75
7,David Miller,7.035349,5.929204,950,39.58,145.26
15,Heinrich Klaasen,3.116939,4.876106,927,44.14,173.92
28,Quinton de Kock,6.298200,5.112000,901,30.03,143.24
29,Rahul Tripathi,6.336398,4.950820,851,29.34,144.48
1,Aiden Markram,9.849537,7.065934,849,30.32,131.02
33,Riyan Parag,8.000223,5.852941,834,28.76,143.30
21,Liam Livingstone,5.441361,4.422414,827,33.08,169.12
48,Wriddhiman Saha,8.631912,5.377049,824,24.24,124.66
31,Rinku Singh,6.381742,5.500000,816,37.09,149.18
25,Nitish Rana,7.433793,5.130435,816,29.14,141.42
11,Dinesh Karthik,3.021277,4.147826,796,29.48,173.80
32,Rishabh Pant,5.895282,4.729730,786,32.75,153.82
3,Andre Russell,4.052843,4.198276,784,29.04,167.88
13,Glenn Maxwell,2.169290,4.000000,753,24.29,171.53
40,Shreyas Iyer,6.810591,5.585859,752,34.18,140.04
17,Jitesh Sharma,5.361909,5.144330,730,22.81,151.14
38,Shimron Hetmyer,6.147323,5.260870,726,34.57,154.47
6,Cameron Green,5.560168,5.032258,707,35.35,153.70
26,Prabhsimran Singh,3.328082,4.160714,706,23.53,152.81
2,Ajinkya Rahane,7.107050,5.840909,701,23.37,136.65
4,Axar Patel,7.578960,6.000000,700,31.82,139.44
9,Deepak Hooda,8.905934,6.935065,680,20.61,129.52
10,Devdutt Padikkal,10.000000,5.808511,675,19.29,120.75
45,Tim David,3.624175,4.759036,658,29.91,171.80
5,Ayush Badoni,7.458546,6.898551,634,24.38,134.04
27,Prithvi Shaw,3.486734,4.081633,587,22.58,150.51
42,Sunil Narine,2.221810,3.680412,580,21.48,173.65
30,Ravindra Jadeja,7.803274,7.066667,573,26.05,137.08
23,Mayank Agarwal,8.785324,6.111111,530,20.38,123.83
20,Krunal Pandya,7.414839,7.943396,504,19.38,121.74

In [33]:
Movers_of_the_Scoreboard = summary_df[['bat', 'Mean Consecutive Dots/Singles_scaled']].sort_values(by='Mean Consecutive Dots/Singles_scaled').reset_index(drop=True)
Movers_of_the_Scoreboard.head(10)

                 bat  Mean Consecutive Dots/Singles_scaled
0   Suryakumar Yadav                              1.000000
1      Glenn Maxwell                              2.169290
2       Sunil Narine                              2.221810
3     Dinesh Karthik                              3.021277
4   Heinrich Klaasen                              3.116939
5  Prabhsimran Singh                              3.328082
6   Yashasvi Jaiswal                              3.331152
7       Prithvi Shaw                              3.486734
8    Abhishek Sharma                              3.612404
9          Tim David                              3.624175

In [49]:
pressure_creators_dots = summary_df[['bat', 'Mean Consecutive Dots/Singles_scaled']].sort_values(by='Mean Consecutive Dots/Singles_scaled', ascending= False).reset_index(drop=True)
pressure_creators_dots = pressure_creators_dots.head(10)
pressure_creators_dots

                bat  Mean Consecutive Dots/Singles_scaled
0  Devdutt Padikkal                             10.000000
1     Aiden Markram                              9.849537
2      Deepak Hooda                              8.905934
3    Mayank Agarwal                              8.785324
4          KL Rahul                              8.781548
5   Wriddhiman Saha                              8.631912
6       Riyan Parag                              8.000223
7    Shikhar Dhawan                              7.883101
8   Ravindra Jadeja                              7.803274
9     Hardik Pandya                              7.693785

In [50]:
Bounadry_hitters = summary_df[['bat', 'avg_gap_between_boundaries']].sort_values(by='avg_gap_between_boundaries').reset_index(drop=True)
Bounadry_hitters.head(10)

                 bat  avg_gap_between_boundaries
0       Sunil Narine                    3.680412
1   Suryakumar Yadav                    3.989189
2   Yashasvi Jaiswal                    4.000000
3      Glenn Maxwell                    4.000000
4       Prithvi Shaw                    4.081633
5     Dinesh Karthik                    4.147826
6  Prabhsimran Singh                    4.160714
7      Andre Russell                    4.198276
8    Abhishek Sharma                    4.298246
9   Liam Livingstone                    4.422414

In [51]:
pressure_creators_boundary = summary_df[['bat', 'avg_gap_between_boundaries']].sort_values(by='avg_gap_between_boundaries', ascending= False).reset_index(drop=True)
pressure_creators_boundary = pressure_creators_boundary.head(10)
pressure_creators_boundary

               bat  avg_gap_between_boundaries
0    Krunal Pandya                    7.943396
1  Ravindra Jadeja                    7.066667
2    Aiden Markram                    7.065934
3     Deepak Hooda                    6.935065
4     Ayush Badoni                    6.898551
5         KL Rahul                    6.529412
6    Hardik Pandya                    6.131783
7   Mayank Agarwal                    6.111111
8       Axar Patel                    6.000000
9     David Miller                    5.929204

In [52]:
Scoreboard_pressure_creators = set(pressure_creators_dots['bat']).intersection(set(pressure_creators_boundary['bat']))
Scoreboard_pressure_creators

{'Aiden Markram',
 'Deepak Hooda',
 'Hardik Pandya',
 'KL Rahul',
 'Mayank Agarwal',
 'Ravindra Jadeja'}

In [35]:
from scipy.stats import zscore

In [36]:
summary_df['Inverted Mean Consecutive Dots/Singles'] = 100 - summary_df['Mean Consecutive Dots/Singles_percent']

In [37]:
summary_df['Inverted Mean avg_gap_between_boundaries'] = 100 - summary_df['avg_gap_between_boundaries']

In [38]:
features = ['Inverted Mean Consecutive Dots/Singles', 'Inverted Mean avg_gap_between_boundaries', 'Average', 'Strike Rate']

In [39]:
summary_df[features] = summary_df[features].apply(zscore)

In [40]:
summary_df['Impact Score'] = summary_df[features].mean(axis=1)

In [41]:
min_impact = summary_df['Impact Score'].min()
max_impact = summary_df['Impact Score'].max()

In [42]:
summary_df['Impact Score (1-10)'] = round((1 + ((summary_df['Impact Score'] - min_impact) / (max_impact - min_impact)) * 9),2)

In [43]:
summary_df[['bat', 'Impact Score (1-10)']].sort_values(by='Impact Score (1-10)', ascending=False).reset_index(drop=True)

                  bat  Impact Score (1-10)
0    Suryakumar Yadav                10.00
1    Heinrich Klaasen                 9.42
2      Dinesh Karthik                 8.60
3     Nicholas Pooran                 8.58
4        Sunil Narine                 8.44
5       Glenn Maxwell                 8.39
6    Yashasvi Jaiswal                 8.36
7           Tim David                 7.90
8       Andre Russell                 7.90
9    Liam Livingstone                 7.72
10    Abhishek Sharma                 7.44
11       Shubman Gill                 7.17
12        Shivam Dube                 7.01
13        Jos Buttler                 6.97
14  Prabhsimran Singh                 6.95
15       Prithvi Shaw                 6.76
16      Cameron Green                 6.74
17       Rishabh Pant                 6.61
18     Faf du Plessis                 6.59
19       Sanju Samson                 6.42
20    Shimron Hetmyer                 6.34
21       David Warner                 6.15
22        Rinku Singh                 6.08
23        Tilak Varma                 5.97
24    Ruturaj Gaikwad                 5.77
25        Virat Kohli                 5.70
26       David Miller                 5.60
27     Rahul Tripathi                 5.54
28    Quinton de Kock                 5.45
29     Marcus Stoinis                 5.44
30      Jitesh Sharma                 5.42
31       Shreyas Iyer                 5.17
32     Venkatesh Iyer                 5.12
33        Nitish Rana                 4.89
34       Ishan Kishan                 4.67
35     Shikhar Dhawan                 4.60
36         Axar Patel                 4.37
37       Rohit Sharma                 4.33
38        Riyan Parag                 4.23
39           KL Rahul                 4.21
40      Hardik Pandya                 4.04
41     Ajinkya Rahane                 3.71
42    Wriddhiman Saha                 3.07
43    Ravindra Jadeja                 2.86
44       Ayush Badoni                 2.80
45      Aiden Markram                 2.31
46     Mayank Agarwal                 2.08
47       Deepak Hooda                 1.73
48   Devdutt Padikkal                 1.66
49      Krunal Pandya                 1.00